<!DOCTYPE html>
<html>
<head>
	<title>Sockets</title>
</head>
<body>
	<div id='message'> </div>
	<h3> Push the button to update the count</h3>
	<button id = 'button'>Push the button</button>
	<br>
	<button id = 'reset'>Reset</button>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var socket = io.connect(); 

			$('#button').click(function(){
				socket.emit('button_clicked', {click: 1})
			})
			$('#reset').click(function(){
				socket.emit('reset_clicked', {click: 0})
			})

			socket.on('message', function(data){
				// console.log(data.response)
				$('#message').html(data.response); 
			})
		})

	</script>
</body>
</html>